<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- <plugins>
		<plugin interceptor="com.github.pagehelper.PageInterceptor">
		分页合理化  [访问<1的页面 返回1页面的数据，访问大于总页码的页面 返回总页码页面的数据]
			<property name="reasonable" value="true"></property>
		</plugin>
	</plugins> -->
</configuration>